---
version: v1alpha1
machine:
  install:
    disk: ${install_disk}
%{ if !startswith(talos_version, "v1.12") ~}
  network:
    hostname: ${hostname}
%{ if vip_ip != null || custom_network != null ~}
    interfaces:
%{ endif ~}
%{ if vip_ip != null ~}
      - deviceSelector:
          physical: true
        vip:
          ip: ${vip_ip}
%{ endif ~}
%{ if custom_network != null ~}
      ${indent(6, custom_network)}
%{ endif ~}
%{ endif ~}
  time:
    servers:
      - %{ if time_server != null && time_server != "" }${time_server}%{ else }pool.ntp.org%{ endif }
  kubelet:
    nodeIP:
      validSubnets:
        - ${ cidrhost(format("%s/24", node_ip), 0) }/24
    extraArgs:
%{ if cloud_provider != "none" ~}
      cloud-provider: external
%{ endif ~}
      rotate-server-certificates: true
  kernel:
    modules:
%{ if enable_lvm ~}
      - name: dm_thin_pool
%{ endif ~}
%{ for mod in kernel_modules ~}
      - name: ${mod}
%{ endfor ~}
  features:
    kubePrism:
      enabled: true
      port: 7445
    kubernetesTalosAPIAccess:
      enabled: true
      allowedRoles:
      - os:etcd:backup
      allowedKubernetesNamespaces:
      - default
      - kube-system
  nodeLabels:
%{ for k, v in node_labels ~}
    ${k}: ${v}
%{ endfor ~}
  files:
    - content: |
        [metrics]
          address = "0.0.0.0:11234"
      path: /var/cri/conf.d/metrics.toml
      op: create

cluster:
  controlPlane:
    endpoint: https://${vip_ip}:6443
  discovery:
    enabled: false
    registries:
      service:
        disabled: true
  etcd:
    advertisedSubnets:
      - ${ cidrhost(format("%s/24", node_ip), 0) }/24
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
  controllerManager:
    extraArgs:
      bind-address: 0.0.0.0
  scheduler:
    extraArgs:
      bind-address: 0.0.0.0
%{ if cloud_provider != "none" ~}
  externalCloudProvider:
    enabled: true
    manifests:
%{ if cloud_provider == "talos" ~}
      - https://raw.githubusercontent.com/siderolabs/talos-cloud-controller-manager/main/docs/deploy/cloud-controller-manager.yml
%{ endif ~}
%{ endif ~}
  extraManifests:
    - https://raw.githubusercontent.com/alex1989hu/kubelet-serving-cert-approver/main/deploy/standalone-install.yaml
  allowSchedulingOnControlPlanes: ${allow_scheduling_on_control_planes}
  # Cilium CNI
  network:
    cni:
%{ if cni == "calico" ~}
      name: custom
      urls:
        - https://docs.tigera.io/calico/latest/manifests/tigera-operator.yaml
%{ else ~}
      name: none
%{ endif ~}
    podSubnets:
      - ${pod_subnet}
    serviceSubnets:
      - ${service_subnet}
%{ if cni != "calico" ~}
  proxy:
    disabled: true
%{ endif ~}
  inlineManifests:
%{ if enable_lvm ~}
  - name: lvm-setup
    contents: |
      ${indent(6, lvm_setup)}
%{ endif ~}
%{ if startswith(talos_version, "v1.12") ~}
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: ${hostname}
auto: off
%{ if vip_ip != null ~}
---
apiVersion: v1alpha1
kind: Layer2VIPConfig
name: ${vip_ip}
link: ${vip_interface}
%{ endif ~}
%{ if custom_network != null ~}
---
${indent(0, custom_network)}
%{ endif ~}
%{ endif ~}
