machine:
  install:
    disk: ${install_disk}
  network:
    hostname: ${hostname}
%{ if cluster_vip != null || custom_network != null ~}
    interfaces:
%{ endif ~}
%{ if cluster_vip != null ~}
      - deviceSelector:
          physical: true
        vip:
          ip: ${cluster_vip}
%{ endif ~}
%{ if custom_network != null ~}
      ${indent(6, custom_network)}
%{ endif ~}
    extraHostEntries:
%{ for ip, hosts in extra_hosts ~}
      - ip: ${ip}
        aliases:
%{ for host in hosts ~}
          - ${host}
%{ endfor ~}
%{ endfor ~}
# https://www.talos.dev/v1.7/talos-guides/configuration/time-sync/#additional-configuration
  time:
    servers:
      - %{ if time_server != null && time_server != "" }${time_server}%{ else }pool.ntp.org%{ endif }
  kubelet:
    nodeIP:
      validSubnets:
        - ${ cidrhost(format("%s/24", node_ip), 0) }/24
    extraArgs:
%{ if cloud_provider != "none" ~}
      cloud-provider: external
%{ endif ~}
      rotate-server-certificates: true
  kernel:
    modules:
%{ if enable_lvm ~}
      - name: dm_thin_pool
%{ endif ~}
%{ for mod in kernel_modules ~}
      - name: ${mod}
%{ endfor ~}
  registries:
    config:
%{ for host, auth in registries ~}
      "${host}":
        auth:
          username: ${auth.username}
          password: ${auth.password}
%{ endfor ~}
  files:
    - content: |
        [metrics]
          address = "0.0.0.0:11234"
      path: /var/cri/conf.d/metrics.toml
      op: create
  udev:
    # List of udev rules to apply to the udev system
    rules:
%{ for u, n in disk_uuid ~}
      - SUBSYSTEM=="block", KERNEL=="sd*", ENV{DEVTYPE}=="disk", ENV{ID_WWN_WITH_EXTENSION}=="0x${u}", SYMLINK+="disk/by-id/scsi-${n}"
%{ endfor ~}
  nodeLabels:
%{ for k, v in node_labels ~}
    ${k}: ${v}
%{ endfor ~}
  features:
    kubePrism:
      enabled: true
      port: 7445
    kubernetesTalosAPIAccess:
      enabled: true
      allowedRoles:
      - os:etcd:backup
      allowedKubernetesNamespaces:
      - default
      - kube-system

cluster:
  discovery:
    enabled: false
    registries:
      service:
        disabled: true
  etcd:
    advertisedSubnets:
      - ${ cidrhost(format("%s/24", node_ip), 0) }/24
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
  controllerManager:
    extraArgs:
      bind-address: 0.0.0.0
  scheduler:
    extraArgs:
      bind-address: 0.0.0.0
%{ if cloud_provider != "none" ~}
  externalCloudProvider:
    enabled: true
    manifests:
%{ if cloud_provider == "talos" ~}
      - https://raw.githubusercontent.com/siderolabs/talos-cloud-controller-manager/main/docs/deploy/cloud-controller-manager.yml
%{ endif ~}
%{ endif ~}
  extraManifests:
    - https://raw.githubusercontent.com/alex1989hu/kubelet-serving-cert-approver/main/deploy/standalone-install.yaml
  allowSchedulingOnControlPlanes: true
  network:
    cni:
%{ if cni == "calico" ~}
      name: custom
      urls:
        - https://docs.tigera.io/calico/latest/manifests/tigera-operator.yaml
%{ else ~}
      name: none
%{ endif ~}
    podSubnets:
      - ${pod_subnet}
    serviceSubnets:
      - ${service_subnet}
%{ if cni != "calico" ~}
  proxy:
    disabled: true
%{ endif ~}
  inlineManifests:
%{ if enable_lvm ~}
  - name: lvm-setup
    contents: |
      ${indent(6, lvm_setup)}
%{ endif ~}
