machine:
  install:
    disk: ${install_disk}
  network:
    hostname: ${hostname}
%{ if custom_network != null ~}
    interfaces:
      ${indent(6, custom_network)}
%{ endif ~}
# https://www.talos.dev/v1.7/talos-guides/configuration/time-sync/#additional-configuration
  time:
    servers:
      - %{ if time_server != null && time_server != "" }${time_server}%{ else }pool.ntp.org%{ endif }
  kubelet:
    nodeIP:
      validSubnets:
        - ${ cidrhost(format("%s/24", node_ip), 0) }/24
    extraArgs:
      rotate-server-certificates: true
  kernel:
    modules:
%{ if enable_lvm ~}
      - name: dm_thin_pool
%{ endif ~}
%{ for mod in kernel_modules ~}
      - name: ${mod}
%{ endfor ~}
%{ for mod in kernel_modules ~}
      - name: ${mod}
%{ endfor ~}
  files:
    - content: |
        [metrics]
          address = "0.0.0.0:11234"
      path: /var/cri/conf.d/metrics.toml
      op: create
