---
version: v1alpha1
machine:
  install:
    disk: ${install_disk}
%{ if !startswith(talos_version, "v1.12") ~}
  network:
    hostname: ${hostname}
%{ if custom_network != null ~}
    interfaces:
      ${indent(6, custom_network)}
%{ endif ~}
%{ endif ~}
  time:
    servers:
      - %{ if time_server != null && time_server != "" }${time_server}%{ else }pool.ntp.org%{ endif }
  kubelet:
    nodeIP:
      validSubnets:
        - ${ cidrhost(format("%s/24", node_ip), 0) }/24
    extraArgs:
%{ if cloud_provider != "none" ~}
      cloud-provider: external
%{ endif ~}
      rotate-server-certificates: true
  kernel:
    modules:
%{ if enable_lvm ~}
      - name: dm_thin_pool
%{ endif ~}
%{ for mod in kernel_modules ~}
      - name: ${mod}
%{ endfor ~}
  features:
    kubePrism:
      enabled: true
      port: 7445
  nodeLabels:
%{ for k, v in node_labels ~}
    ${k}: ${v}
%{ endfor ~}
  files:
    - content: |
        [metrics]
          address = "0.0.0.0:11234"
      path: /var/cri/conf.d/metrics.toml
      op: create
%{ if startswith(talos_version, "v1.12") ~}
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: ${hostname}
auto: off
%{ if custom_network != null ~}
---
${indent(0, custom_network)}
%{ endif ~}
%{ endif ~}
