---
version: v1alpha1
machine:
  install:
    disk: ${install_disk}
%{ if !startswith(talos_version, "v1.12") ~}
  network:
    hostname: ${hostname}
%{ endif ~}
  time:
    servers:
      - %{ if time_server != null && time_server != "" }${time_server}%{ else }pool.ntp.org%{ endif }
  kubelet:
    extraArgs:
      rotate-server-certificates: true
  kernel:
    modules:
%{ for mod in kernel_modules ~}
      - name: ${mod}
%{ endfor ~}
  features:
    kubePrism:
      enabled: true
      port: 7445
  files:
    - content: |
        [metrics]
          address = "0.0.0.0:11234"
      path: /var/cri/conf.d/metrics.toml
      op: create
%{ if startswith(talos_version, "v1.12") ~}
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: ${hostname}
auto: off
%{ endif ~}
